div.st-emotion-cache-j5r0tf{
    color: #000000;
    background-color: #EEEEEE;
    border: 1px solid #dfdfdf;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
}

div[data-testid="stMetric"] {
    background-color: #EEEEEE;
    border: 1px solid #dfdfdf;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
}

div.e1i5pmia1{
    color: #000000;
}

div.e1i5pmia3{
    color: #000000;
}
